

body {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
#root {
  height: 100%;
}
/* Main App styling */
.App {

  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr 50px;
  align-items: center;
}

/* Header component styling */
.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;

  grid-column: 1/2;
  grid-row: 1/2;

}

.logo {
  margin: 4px;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 130px;
  min-width: 173px;
  background-image: url("images/logo173.png");

  background-position: center;
  background-repeat: no-repeat;
}

.menu-button {
  margin: 4px;
  grid-column: 2/3;
  grid-row: 1/2;

  height: 120px;
  min-width: 50px;
  background-image: url("images/menu-icon.png");

  background-position: center;
  background-repeat: no-repeat;

}

.nav{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: center;

  grid-column: 1/3;
  grid-row: 2/3;


}
.on{
  height: 175px;
  -webkit-transition:  0.3s ease;
  -moz-transition:  0.3s ease;
  -o-transition:  0.3s ease;
  -ms-transition:  0.3s ease;
  transition:  0.2s ease;
}
.off {
  height: 0;
  opacity: 0;
  -webkit-transition:  0.3s ease;
  -moz-transition:  0.3s ease;
  -o-transition:  0.3s ease;
  -ms-transition:  0.3s ease;
  transition:  0.3s ease;
}
.nav a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 2px solid #ededed;
}
nav a:last-child{
  border-bottom: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}

.homepage {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;

  background: url('images/bg1.jpg') center;
  background-size: cover;

  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: center;
}

.homepage > * {
  color: black;
}

.homepage > h1 {
  font-size: 3.2rem;
}

.homepage > article > p {
  font-size: 2rem;
  font-weight: 600;
}

.homepage > article > a {
  font-size: 1.5rem;
  margin-top: .75rem;
}

/* Footer component styling */
.footer {
  font-size: 11px;
  grid-column: 1/2;
  grid-row: 3/3;
  text-align: center;
  align-self:flex-end;
}
.carousel-container{
  width: 100%;
  height: 100%;
}
.carousel-img{
  width:100%;
  height: 350px;
}

@media only screen and (min-width: 120px) {
  .homepage > h1 {
    padding-bottom: 1rem;
    padding-left: 0.8rem;
    font-size: 3.7rem;
  }
  .homepage > article > p {
    padding-bottom: 8rem;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .homepage > article > a {
    padding-left: 0.8rem;
    font-size: 1.3rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 575px) {
  .homepage > h1 {
    padding-left: 2rem;
    font-size: 4.5rem;
  }
  .homepage > article > p {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }

  .homepage > article > a {
    padding-left: 2rem;
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 680px) {
  .homepage > h1 {
    padding-left: 0.6rem;
    font-size: 3.3rem;
  }
  .homepage > article > p {
    padding-left: 1rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .homepage > article > a {
    padding-left: 1rem;
    font-size: 1.7rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 667px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .menu-button{
    display: none;
  }
  .logo {
    margin: 4px;
    grid-column: 1/2;
    height: 130px;
    min-width: 173px;
    justify-content:flex-end;
    background-image: url("images/logo173.png");

    background-position: center;
    background-repeat: no-repeat;
  }
  .nav{
    grid-column: 2/3;
    grid-row: 1/1;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: 1fr;
    justify-content:flex-start;
    opacity: 1;

  }

  .nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border-bottom: none;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:active {
    color: black;
  }

  .homepage > h1 {
    padding-left: 5rem;
    font-size: 5rem;
  }
  .homepage > article > p {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .homepage > article > a {
    padding-left: 2rem;
    font-size: 1.8rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 820px) {
  .homepage > h1 {
    padding-left: 5rem;
    font-size: 5rem;
  }
  .homepage > article > p {
    padding-left: 2rem;
    font-size: 3rem;
    font-weight: 500;
  }

  .homepage > article > a {
    padding-left: 2rem;
    font-size: 2rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 1238px) {
  .nav a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    border-bottom: none;
  }
  .homepage > h1 {
    padding-left: 6rem;
    font-size: 5.5rem;
  }
  .homepage > article > p {
    padding-left: 4rem;
    font-size: 3rem;
    font-weight: 600;
  }

  .homepage > article > a {
    padding-left: 4rem;
    font-size: 2rem;
    margin-top: 3rem;
  }
}
